
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>NGO's</title>

    <!-- CSS FILES -->
    <link href="~/user/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/user/css/bootstrap-icons.css" rel="stylesheet">

    <link href="~/user/css/templatemo-kind-heart-charity.css" rel="stylesheet">



</head>

<body id="section_1">

    <header class="site-header">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 d-flex flex-wrap">
                    <p class="d-flex me-4 mb-0">
                        <i class="bi-geo-alt me-2"></i>
                        Cach Mang Thang 8, 11 Ward , 3 District
                    </p>

                    <p class="d-flex mb-0">
                        <i class="bi-envelope me-2"></i>

                        <a href="mailto:info@company.com">
                            abc@gmail.com
                        </a>
                    </p>
                </div>

                <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
                    <ul class="social-icon">
                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-twitter"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-facebook"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-instagram"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-youtube"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-whatsapp"></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <div class="container">
            <a class="navbar-brand" asp-controller="User" asp-action="Index">
                <img src="~/user/images/logo.png" class="logo img-fluid" alt="Kind Heart Charity">
                <span>
                    NGO's
                    <small>Non-Governmental Organization</small>
                </span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="">Home</a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="OurPartner">Our Partners</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_3">Causes</a>
                    </li>
                    @if(User.Identity?.IsAuthenticated ?? false)
                    {
                        <li class="nav-item">
                            <p>@User.Identity.Name</p>
                            <a class="nav-link " asp-controller="Account" asp-action="Logout">LogOut</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">REGISTER</a>

                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link" href="#section_2">About Us</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="#section_6">Help Centre</a>
                    </li>
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <li class="nav-item ms-3">
                            <a class="nav-link custom-btn custom-border-btn btn" asp-controller="Donate" asp-action="AddDonate">Donate</a>
                        </li>
                    }else{
                        <li class="nav-item ms-3">
                            <a class="nav-link custom-btn custom-border-btn btn" asp-controller="Account" asp-action="Login">Donate</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
@RenderBody()
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mb-4">
                    <img src="~/user/images/logo.png" class="logo img-fluid" alt="">
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <h5 class="site-footer-title mb-3">Quick Links</h5>

                    <ul class="footer-menu">
                        <li class="footer-menu-item click-scroll"><a href="#" class="footer-menu-link">Home</a></li>

                        <li class="footer-menu-item click-scroll"><a href="#section_2" class="footer-menu-link">About Us</a></li>

                        <li class="footer-menu-item click-scroll"><a href="#section_3" class="footer-menu-link">Causes</a></li>

                        <li class="footer-menu-item click-scroll"><a href="#section_4" class="footer-menu-link">ResGister</a></li>

                        <li class="footer-menu-item click-scroll"><a href="#section_5" class="footer-menu-link">News</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mx-auto">
                    <h5 class="site-footer-title mb-3">Contact Infomation</h5>

                    <p class="text-white d-flex mb-2">
                        <i class="bi-telephone me-2"></i>

                        <a href="tel: 123456789" class="site-footer-link">
                            123456789
                        </a>
                    </p>

                    <p class="text-white d-flex">
                        <i class="bi-envelope me-2"></i>

                        <a href="mailto:info@yourgmail.com" class="site-footer-link">
                            abc@gmail.com
                        </a>
                    </p>

                    <p class="text-white d-flex mt-3">
                        <i class="bi-geo-alt me-2"></i>
                        Cach Mang Thang 8, 11 Ward , 3 District
                    </p>

                    <a href="~/User/Donate" class="custom-btn btn mt-3 click-scroll">Donate</a>
                </div>
            </div>
        </div>

        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center align-items-center mx-auto">
                        <ul class="social-icon">
                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-twitter"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-facebook"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-instagram"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="#" class="social-icon-link bi-linkedin"></a>
                            </li>

                            <li class="social-icon-item">
                                <a href="https://youtube.com/templatemo" class="social-icon-link bi-youtube"></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </footer>

    <!-- JAVASCRIPT FILES -->
    <script src="~/user/js/jquery.min.js"></script>
    <script src="~/user/js/bootstrap.min.js"></script>
    <script src="~/user/js/jquery.sticky.js"></script>
    <script src="~/user/js/click-scroll.js"></script>
    <script src="~/user/js/counter.js"></script>
    <script src="~/user/js/custom.js"></script>

</body>
</html>