@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model NgoProject.Models.Category

@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<style>
    .field-validation-error {
        color: red
    }

    .validation-summary-errors {
        color: red
    }
</style>
<h4>Add Category</h4>
<hr />
<div class="row">
    <div class="col-md-7">
        <form method="post" asp-action="AddCategory">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label">Name<span style="color:red">*</span></label>
                <span asp-validation-for="CategoryName" class="text-danger"></span>
                <input asp-for="CategoryName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CategoryDescription" class="control-label">Description<span style="color:red">*</span></label>
                <span asp-validation-for="CategoryDescription" class="text-danger"></span>
                <textarea asp-for="CategoryDescription" class="form-control"></textarea> <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>