@model NgoProject.Models.Ourpartner
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "OurPartnerEdit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="row">
    <div class="col-md-4">
        <form asp-action="OurPartnerEdit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OurpartnerId" />
            <div class="form-group">
                <label asp-for="OurpartnerName" class="control-label"></label>
                <input asp-for="OurpartnerName" class="form-control" />
                <span asp-validation-for="OurpartnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurpartnerAddress" class="control-label"></label>
                <input asp-for="OurpartnerAddress" class="form-control" />
                <span asp-validation-for="OurpartnerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurpartnerLogo" class="control-label"></label>
                <input type="file" asp-for="OurpartnerLogo" class="form-control" value="" />
                <span asp-validation-for="OurpartnerLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurpartnerPhone" class="control-label"></label>
                <input asp-for="OurpartnerPhone" class="form-control" />
                <span asp-validation-for="OurpartnerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurpartnerAddressWeb" class="control-label"></label>
                <input asp-for="OurpartnerAddressWeb" class="form-control" />
                <span asp-validation-for="OurpartnerAddressWeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurpartnerMail" class="control-label"></label>
                <input asp-for="OurpartnerMail" class="form-control" />
                <span asp-validation-for="OurpartnerMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

