@model NgoProject.Models.Ourpartner



@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "OurPartnerAdd";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>OurPartnerAdd</h1>

<h4>Ourpartner</h4>
<hr />
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Banner</h4>
            <p class="card-description">
                Don't leave the background blank
            </p>

        <form asp-action="OurPartnerAdd" class="form-sample" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OurpartnerName" class="control-label"></label>
                <input asp-for="OurpartnerName" class="form-control" />
                <span asp-validation-for="OurpartnerName" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="OurpartnerAddress" class="control-label"></label>
                <label asp-for="OurpartnerAddress" class="control-label"> About</label>
                <input asp-for="OurpartnerAddress" class="form-control" />
                <span asp-validation-for="OurpartnerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurpartnerLogo" class="control-label"></label>
                <input type="file" asp-for="OurpartnerLogo" class="form-control" />
                <span asp-validation-for="OurpartnerLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurpartnerPhone" class="control-label"></label>
                <input asp-for="OurpartnerPhone" class="form-control" />
                <span asp-validation-for="OurpartnerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurpartnerAddressWeb" class="control-label"></label>
                <input asp-for="OurpartnerAddressWeb" class="form-control" />
                <span asp-validation-for="OurpartnerAddressWeb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OurpartnerMail" class="control-label"></label>
                <input asp-for="OurpartnerMail" class="form-control" />
                <span asp-validation-for="OurpartnerMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
         </div>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
 </div>


