@model NgoProject.ViewModel.ViewModelBanner
@{
    Layout = "_AdminLayout";
}

<div class="col-12 grid-margin stretch-card" id="banner2">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Basic form elements</h4>
            <p class="card-description">
                Basic form elements
            </p>



            <form class="forms-sample" method="post" asp-action="Banner2" enctype="multipart/form-data">
                <div class="form-group" hidden>
                    <label asp-for="Id" for="exampleInputName1">Id</label>
                    <input type="text" asp-for="Id" class="form-control" id="exampleInputName1" placeholder="Name" value="1">
                </div>
                <div class="form-group">
                    <label for="exampleInputName1" asp-for="Title">Title</label>
                    <input type="text" asp-for="Title" class="form-control" id="exampleInputName1" >
                </div>
                <div class="form-group">
                    <label for="exampleInputName1" asp-for="Content">Content</label>
                    <input type="text" asp-for="Content" class="form-control" id="exampleInputName1">
                </div>

                <div class="form-group">
                    <label asp-for="Image">File upload</label>
                    <input asp-for="Image" type="file" class="file-upload-default">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>
