@model NgoProject.Models.News
@{
    ViewData["Title"] = "DetailsNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="about-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12 mb-5">
                <h2 style="text-align:center">Intimate Partner</h2>
            </div>
            <div class="col-lg-6 col-md-5 col-12">
                <img src="~/user/images/slide/@Model.NewsImage1" style=" width:300px ; height:auto ; border-radius: 10%;" />
            </div>

            <div class="col-lg-5 col-md-7 col-12">
                <div class="custom-text-block">
                    <h2 class="mb-0"> @Html.DisplayFor(model => model.NewsName)</h2>


                    <p> @Html.DisplayFor(model => model.NewsContent)</p>

                    <p> @Html.DisplayFor(model => model.NewsDescription)</p>


                </div>
            </div>

        </div>
    </div>
</section>

