@model NgoProject.Models.SendFeedback
@{
    Layout = "_Layout";
}

<section class="contact-section section-padding" id="section_6">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-12 ms-auto mb-5 mb-lg-0">
                <div class="contact-info-wrap">
                    <h2>Get in touch</h2>

                    <div class="contact-image-wrap d-flex flex-wrap">
                        <img src="~/user/images/avatar/TN.jpg" class="img-fluid avatar-image" alt="">

                        <div class="d-flex flex-column justify-content-center ms-3">
                            <p class="mb-0">Tam Nhu</p>
                            <p class="mb-0"><strong>Leader</strong></p>
                        </div>
                    </div>

                    <div class="contact-info">
                        <h5 class="mb-3">Contact Infomation</h5>

                        <p class="d-flex mb-2">
                            <i class="bi-geo-alt me-2"></i>
                            Cach Mang Thang 8, 11 Ward , 3 District
                        </p>

                        <p class="d-flex mb-2">
                            <i class="bi-telephone me-2"></i>

                            <a href="tel: 123456789">
                                123456789
                            </a>
                        </p>

                        <p class="d-flex">
                            <i class="bi-envelope me-2"></i>

                            <a href="mailto:info@yourgmail.com">
                                abc@gmail.com
                            </a>
                        </p>

                        <a href="#" class="custom-btn btn mt-3">Get Direction</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-12 mx-auto">
                @if (ViewBag.msg != null)
                {
                    <h5>@ViewBag.msg</h5>
                }
                <form class="custom-form contact-form" asp-action="SendFeedBack" method="post" role="form" enctype="multipart/form-data">
                    <h2>
                        opinion
                    </h2>

                    <p class="mb-4">
                        Or, you can just send an email:
                        <a href="#">  abc@gmail.com</a>
                    </p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <label asp-for="To" hidden></label>
                            <input type="text" asp-for="To" id="first-name" class="form-control" placeholder="To" required>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                            <label asp-for="Subject" hidden></label>
                            <input type="text" asp-for="Subject" class="form-control" placeholder="Subject" required>
                        </div>
                    </div>

                    @*      <input type="email" name="email" id="email" class="form-control" placeholder="Jackdoe@gmail.com" required> *@
                    <label asp-for="Body" hidden></label>
                    <input asp-for="Body" rows="5" class="form-control" placeholder="What can we help you?"></input>
                    <div class="col-lg-6 col-md-6 col-12">
                    <input type="submit" class="form-control">Send Message</input>
                    </div>
                </form>
               

            </div>

        </div>
    </div>
</section>
