#about {
    padding-top: 130px;
}

.about-us .section-heading {
    margin-bottom: 40px;
}

.about-us .left-image {
    margin-right: 45px;
}

.about-us .about-item h4 {
    font-size: 38px;
    font-weight: 800;
    color: #088ec3;
}

.about-us .about-item h6 {
    font-size: 16px;
    margin-top: 5px;
    font-weight: 400;
    color: #2a2a2a;
    text-transform: capitalize;
}

.about-us p {
    margin: 40px 0px;
}

h2.mdf {
    color: var(--primary-color);
    font-size: var(--h2-font-size);
}
